* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 30px;
}
.user-filter {
  max-width: 900px;
  border: 1px solid #bbb;
  margin: auto;
  padding: 40px;
  padding-bottom: 0;
  border-radius: 8px;
}
.user-filter table {
  width: 100%;
  border-collapse: collapse;
}
.user-filter tr {
  display: table-row;
}
.user-filter th {
  padding: 10px;
  border-bottom: 1px solid #bbb;
  text-align: left;
}
.user-filter td {
  padding: 10px;
  border-top: 1px solid #bbb;
}
.user-filter tr:first-child td {
  border-bottom: none;
}
.subject-filter {
  width: 600px;
  margin: auto;
  padding: 20px;
  padding-bottom: 0;
  border: 1px solid #bbb;
  border-radius: 8px;
  margin-top: 50px;
}
input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: 1px solid #bbb;
  border-radius: 4px;
}
ul {
  list-style: none;
}
li {
  padding: 20px 10px;
  border-bottom: 1px solid #bbb;
  font-size: 18px;
}
li:last-child {
  border-bottom: none;
}